* {
    border: 1px dashed red;
    min-height: 10px;
}

body {
    background-color: lightblue;
}

.post {
    color:black;
    margin: auto;
    height: 725px;
    width: 525px;
    margin-top: 25px;
    
}
.encabezado {
    width: 525px;
    height: 75px;
    display: flex;
    flex-direction: row;
    background-color: white;    
}


.fa-html5 {
    font-size: 30px;
    margin-top: 25px;
    margin-left: 18px;
}
.fa-ellipsis-vertical {
    font-size: 30px;
    margin-top: 25px;
    margin-left: 390px;
}
#felipe {
    margin-top: 0%;
}

#html5  {
    height: 20px;
    border-bottom: 0px;

}
#html5 strong {
    border-bottom: 0%;
}
img {
    width: 525px;
    
}
#trespuntos {
    width: 425px;
    
}
#letrashtml {
    margin-bottom: 2px;

}
#felipehtml5 {  
    margin-top: 5px;
}
