* {
    border: 1px dashed red;
    min-height: 10px;
}

body {
    background-color: lightblue;
}

.post {
    color:black;
    margin: auto;
    height: 725px;
    width: 525px;
    margin-top: 25px;
    
}
.encabezado {
    width: 525px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;    
}


.fa-html5 {
    font-size: 30px;
    margin-top: 25px;
}
.fa-ellipsis-vertical {
    font-size: 30px;
    margin-top: 25px;
}

img {
    width: 525px;
    
}