
body {
    background-color: black;
}

.post {
    color:black;
    margin: auto;
    height: 725px;
    width: 525px;
    margin-top: 25px;
    
}
.encabezado {
    width: 525px;
    height: 75px;
    display: flex;
    flex-direction: row;
    background-color: white;    
}


.fa-html5 {
    font-size: 30px;
    margin-top: 25px;
    margin-left: 18px;
}
.fa-ellipsis-vertical {
    font-size: 30px;
    margin-top: 25px;
    margin-left: 390px;
}
#felipe {
    margin-top: 0%;
}

#html5  {
    height: 20px;
    border-bottom: 0px;

}
#html5 strong {
    border-bottom: 0%;
}
img {
    width: 525px;
    
}
#trespuntos {
    width: 425px;
    
}
#letrashtml {
    margin-bottom: 2px;

}
#felipehtml5 {  
    margin-top: 5px;
    font-family: 'Proxima Nova', sans-serif;
    padding-left: 10px;

}
.comentario {
    background-color: white;
    height: 275px;

}

.fa-heart   {
    margin-left: 17px;

}
.foto {
    height: 350px;
}

#imagenescomentario i {
    padding-top: 24px;
    font-size: 40px;
}

.fa-bookmark {
    padding-left: 300px;
}

.lorem {
    font-family: 'Proxima Nova', sans-serif;
    padding-left: 17px;
}
.likes {
    font-family: 'Proxima Nova', sans-serif;
    padding-left: 17px;
}